// Styling for button components

.btn
  border-radius: 2px
  padding: 1.25rem 3rem
  font-size: 1.125rem
  cursor: pointer
  font-family: font-default

.btn:hover
  opacity: 0.8

.btn--primary
  background-color: color-brand
  border: 1px solid rgba(color-white, 0.2)
  color: color-white

.btn--fullWidth
  width: 100%