// Container components

.main--blankCenter
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 100%
  height: 70vh

.section
  padding: 2rem 2.5rem

.section--whiteBackground
  background-color: color-white