// Container components

.main--blankCenter
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 100%
  height: 70vh
  text-align: center

.section
  padding: 2rem 2.5rem

.section--whiteBackground
  background-color: color-white

@media screen and (max-width: breakpoints-tablet)
  .main--blankCenter
    height: 90vh

@media screen and (max-width: breakpoints-mobile-large)
  .section
    padding: 2rem 2rem

@media screen and (max-width: breakpoints-mobile)
  .section
    padding: 1.25rem 1.25rem