// Form & input components

.form__inputGroup
  position: relative
  border: 1px solid color-secondary-stroke
  padding: 1.125rem 1rem

.form__inputGroup--success
  border: 1px solid color-success

.form__inputGroup--wrong
  border: 1px solid color-brand

.form__input
  background: transparent;
  border: none;
  width: 100%
  font-family: font-default

.form__inputGroupCheckbox
  width: 1.25rem
  height: 1.25rem
  display: flex
  justify-content: center
  align-items: center

.form__inputGroupCheckbox--unchecked
  border: 2px solid color-secondary-stroke

.form__inputGroupCheckbox--checked
  border: 2px solid color-success

.form__inputCheckbox
  display: none

/* Chrome, Firefox, Opera, Safari 10.1+ */
.form__input::placeholder 
  color: color-primary-text
  opacity: 0.4 /* Firefox */

.form__input:focus
  outline: none !important;

.form__textarea
  resize: none
  font-family: font-default