/*
This file contains base styling
*/

html
  box-sizing: border-box
  font-size: font-default-size
  background-color: color-background

*,
*::before,
*::after
  box-sizing: inherit
  margin: 0

body
  font-family: font-default
  color: color-primary-text

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.17em
h4
  font-size: 1em
h5
  font-size: 0.83em  
h6
  font-size: 0.67em

a
  color: inherit
  text-decoration: none

a:hover
  opacity: 0.8

.heading
  font-family: font-title
  color: color-brand

@media screen and (min-width: breakpoints-desktop-large)
  body
    padding: 3.25rem 3rem
    max-width: breakpoints-desktop-large
    margin: auto

@media screen and (max-width: breakpoints-desktop-large)
  body
    padding: 3rem 2.75rem

@media screen and (max-width: breakpoints-desktop)
  body
    padding: 2.75rem 2.5rem

@media screen and (max-width: breakpoints-tablet)
  body
    padding: 2.5rem 2.25rem

@media screen and (max-width: breakpoints-mobile-large)
  body
    padding: 2.25rem 2rem

@media screen and (max-width: breakpoints-mobile)
  body
    padding: 1.75rem 1.5rem

  h1
    font-size: 1.75em
  h2
    font-size: 1.17em
  h3
    font-size: 1em
  h4
    font-size: 0.83em
  h5
    font-size: 0.67em  
  h6
    font-size: 0.3em