/*
This file contains variables for styling
*/

// Colors
color-primary-text = #000000
color-secondary-text = #2D2A40

color-brand = #FF8A00
color-success = #1BD97B
color-white = #FFFFFF

color-primary-stroke = #EEEEEE
color-secondary-stroke = #CCCCCC
color-other-stroke = #D8D8D8

color-background = #FFFAE6

// Breakpoints
breakpoints-mobile = 320px
breakpoints-mobile-large = 576px
breakpoints-tablet = 768px
breakpoints-desktop = 1024px
breakpoints-desktop-large = 1200px

// Fonts
font-default = 'Inter', sans-serif
font-title = 'Montserrat', sans-serif

font-default-size = 16px